astroid==2.2.5
colorama==0.4.1
et-xmlfile==1.0.1
isort==4.3.21
jdcal==1.4.1
lazy-object-proxy==1.4.1
mccabe==0.6.1
openpyxl==2.6.2
pudb==2019.2
Pygments==2.6.1
pylint==2.3.1
pypiwin32==223
python-dotenv==0.10.3
pywin32==224
six==1.12.0
typed-ast==1.4.0
urwid==2.1.0
wrapt==1.11.2
xlsxwriter==1.2.5
